@import "tailwindcss";
:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}

body {
  min-height: 100vh;
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  background-color: #242424;
  color: white;
}

button.flech-btn {
  background-color: #0F3556;
  color: white;
}

button:hover {
  opacity: 0.8;
}

button.seeMore-btn {
  background-color: #ffffff;
  color: rgb(0, 0, 0);
}

a {
  font-weight: 500;
  color: #ffffff;
  text-decoration: inherit;
}
/* a:hover {
  color: #ffffff;
} */



h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #ffffff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #ffffff;
  }
  button {
    background-color: #c5a76f;
  }
}
.forget_password{
  color: #0f3556;
}

button.eyes{
  background-color: #ffffff !important; 
}
.create_account{
  color: #0f3556;
}

button.login_button {
  background-color: #0f3556 !important; 
  color: #FFFFFF !important; 
}

button.sign_up_button{
  background-color: #0f3556 !important; 
  color: #FFFFFF !important; 
}
button.reset_password_button{
  background-color: #0f3556 !important; 
  color: #FFFFFF !important;
}

.create_account, .forget_password ,.login_signin {
  text-decoration: underline !important;  
  color: #0f3556;  
}


.create_account:hover, .forget_password:hover  ,.login_signin:hover{
  color: #0f3556 !important; 
  text-decoration: underline !important; 
}


button.login_in{
  background-color: #0f3556 !important; 
  color: #FFFFFF !important; 
}

button.login-btn {
  background-color: #FFFFFF !important; 
  color: #c5a76f !important; 
}

button.app_button{
  background-color: rgb(55, 166, 55) !important;
}
button.signup-btn {
  background-color: #c5a76f !important;
  color: white !important; 
}

button.cancel_buss{
  background-color: #FFFFFF !important; 
  color: #c5a76f !important; 
}

button.soumission_button{
  background-color: #0f3556 !important; 
  color: #FFFFFF !important; 
}
button.services_button{
  background-color: #0f3556 !important; 
  color: #FFFFFF !important; 
}
.site_web{
  color: #0f3556 !important; 
  text-decoration: underline !important; 
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  
  button.login-btn {
    background-color: #f9f9f9 !important; 
    color: #c5a76f !important;
  }

  button.signup-btn {
    background-color: #c5a76f !important;
    color: white !important;
  }
}


.cv{
  background-color: #D9D9D9 !important;
}

.cv_guide{
  color: black !important;
}

.custom-black-color {
  color: black !important; /* Forces the text color to be black */
}
